<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
    :
    <%= subtitle %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/app.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-no-icon.css' />
  <link rel='stylesheet' href='/jquery-ui-redmond/jquery-ui.min.css' />


  <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/jquery-ui-redmond/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/json2.js"></script>
  <script src="/javascripts/jquery.iframe-transport.js"></script>
  <script src="/javascripts/jquery.fileupload.js"></script>
  <!-- ANGULAR -->
  <script type="text/javascript" src="/angular-1.7.2/angular.js"></script>
<!-- Load c3.css -->
<link href="/c3/c3.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="/c3/c3.min.js"></script>

  <!--APP HERE -->
  <link rel='stylesheet' href='/app/rulestyle.css' />
  <script type="text/javascript" src="/app/rulemap.js"></script>

<script type="text/javascript">
    window.token = {
      sid: '<%=sid%>',
      ticket: 'zaqxswcde4532vfrbgt',
      timestamp: new Date(),
      expires: new Date() + 1
    };
  </script>

</head>

<body ng-app="rulemap">
  <div class="page" ng-controller="TestReadController">
    <div class="mheader">
      <%- include ang_header.ejs %>
    </div>

    <div class="breadcrump">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/scheduler">Scheduler</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/scheduler/export">Export</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Schduler Data</li>
        </ol>
      </nav>
    </div>
    <div class="worksectoin">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span>DataGrid: Prevailing the data at current store.</span>
          <span class="pull-right">
            <a href="/schedule/dash" class="btn-primary"> Session Key: {{ sid }} </a>
            <b class='btn-primary' onclick='downloadtable()'> Export to Excel </b>
            <b class='btn-primary' onclick='uploaddata()'> Import From Excel </b>
          </span>
        </div>
        <div class="panel-body">

          <div id="chart"></div>


            <table class="table table-striped table-condensed table-hover">
                <thead>

                    <tr>
                       <th ng-repeat="key in columns"> {{key}} </th>

                    </tr>
                </thead>
                <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>
                            
                                <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                             
                                <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>
                <pre>pagedItems.length: {{pagedItems.length|json}}</pre>
                <pre>currentPage: {{currentPage|json}}</pre>
                <pre>currentPage: {{sort|json}}</pre>
                <tbody>
                    <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
                        <td ng-repeat="key in columns">{{ item[key] }}</td>                        
                    </tr>
                </tbody>
            </table>
<h3>Text</h3>
            <textarea>
              <h2>Fine</h2>
            </textarea>
        </div>
      </div>

    </div>
  </div>
<script>
var chart = c3.generate({
    bindto: '#chart',
    data: {
      columns: [
        ['data1', 30, 200, 100, 400, 150, 250],
        ['data2', 50, 20, 10, 40, 15, 25]
      ]
    }
});
</script>

</body>

</html>